# Ignore all the things!
*

# Except
!.gitignore
!/hypr
!/hypr/*
!/waybar
!/waybar/*
!/fontconfig/
!/fontconfig/*
!/nvim/
!/nvim/*
!/wp/
!/wp/*
!/kwalletrc
!/*package_list.txt
!/setup.sh
!/bash-extend
