@define-color text rgba(255,255,255,0.7);
@define-color bg rgba(0,0,0,0.6);

@define-color text-active rgba(0,0,0,1);
@define-color bg-active rgba(255,255,255,1);

@define-color bg-hover rgba(255,255,255,0.4);
@define-color text-hover rgba(0,0,0,0.7);

@define-color transparent rgba(0,0,0,0);

@define-color bg-window rgba(0,0,0,0.7);

* {
  font-family: sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: @text;
}

widget window menu {
  background: @bg-window;
}
widget window menuitem:hover {
  background: @bg-hover;
}

widget window menuitem:hover label {
  color: @text-hover;
}

widget window label {
  color: @text;
  font-family: sans-serif;
}

#waybar {
  background: transparent;
}

.module {
  margin: 0;
}

button {
  padding: 0;
  border: 0;
  min-width: 24px;
  min-height: 24px;
  margin: 4px;
  border-width: 0;
  border-image-width: 0;
  text-shadow: 0 0 @transparent;
  -gtk-icon-shadow: 0 0 @transparent;
  -gtk-icon-effect: none;
  box-shadow: 0 0 @transparent;
}

button label {
  background: @transparent;
  margin: 0;
  min-width: 24px;
  min-height: 24px;
  padding: 0;
  border-radius: 4px;
  outline-offset: 0;
}

button box {
  border-width: 0;
  border-image-width: 0;
  text-shadow: 0 0 @transparent;
  -gtk-icon-effect: none;
  -gtk-icon-shadow: 0 0 @transparent;
}

button:hover {
  background: transparent;
}

button:hover label {
  background: @bg-hover;
  color: @text-hover;
}

button.active {
}

button.active label {
  color: @text-active;
  background: @bg-active;
}

.modules-left,
.modules-center,
.modules-right {
  margin: 4px 0 0 0;
  background: @bg;
  border-radius: 5px;
  padding: 0px;
}

label,
#tray image {
  padding: 0 8px;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}
